    <div>
    <img src="/assets/images/img8.png" class="body1">
    <div class="centered">
        <div>
            <div class="form-row">
                <div class="form-group">
                  <img src= "/assets/images/home.jpg" class="home">
                  <br/>
                   <h2> Address </h2>
                   IACSD Akurdi
                   Pimpri Chinchawad,
                   Pune.
                   Pincode : 445201

                </div>
                <div class="form-group">
                    <img src= "/assets/images/phone-icon.jpg" class="phone">
                  <br/>
                    <h2> Phone </h2>
                    Contact No:8459725568
                    Office No: 12250 72458
                </div>
                <div class="form-group">
                    <img src= "/assets/images/email.jpg" class="email">
                  <br/>
                    <h2>Email</h2>
                    Email Id: iacsd@gmail.com

                </div>
            </div>
        </div>
    </div>
</div>