#user ,#user1{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #user td,#user1 td, #user th,#user1 th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #user tr:nth-child(even){background-color: #f2f2f2;}
  #user1 tr:nth-child(even){background-color: #f2f2f2;}
  
  #user tr:hover {background-color: #ddd;}
  #user1 tr:hover {background-color: #ddd;}
  
  #user th ,#user1 th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(80, 70, 70);
    color: white;
  }
