#batch {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #batch td, #batch th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #batch tr:nth-child(even){background-color: #f2f2f2;}
  
  #batch tr:hover {background-color: #ddd;}
  
  #batch th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(80, 70, 70);
    color: white;
  }
